main {
    width: 100%;
    display: flex;
    margin: 1.5rem auto;

    .container-fluid {
        width: 100%;
        height: 80vh;
        max-height: 80vh;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        
        .left {
            width: 40%;
            height: 100%;
            float: left;
            margin: 0 auto;

            .card-content {
                border: 3px dashed var(--color-four);
                width: 60%;
                margin: 3% auto;
                text-align: center;

                a {
                    img {
                        margin: 10px auto;
                        width: 70%;
                    }

                    h2 {
                        font-size: 1.7rem;
                        color: var(--color-text);
                    }
                    p {
                        font-size: 1.4rem;
                        color: var(--color-text);
                    }

                    &:hover {
                        h2 {
                            font-size: 1.7rem;
                            color: var(--color-primary);
                        }
                        p {
                            font-size: 1.4rem;
                            color: var(--color-text);
                        }
                    }
                } 
            }
        }

        .right {
            width:60%;
            height: 100%;
            float: right;
            border: 3px double var(--color-text);
            text-align: center;
            margin: 0px auto 5%;

            .card-content {
                width: 100%;
                height: 500px;
                // margin: 5% auto 5%;
                text-align: center;

                a {

                    img {
                        width: 500px;
                        margin: 2rem auto;
                    }
                    h2 {
                        font-size: 2.5rem;
                        color: var(--color-text);
                    }
                    p {
                        font-size: 1.8rem;
                        color: var(--color-text);
                    }

                    &:hover {
                        h2 {
                            font-size: 2.5rem;
                            color: var(--color-primary);
                        }
                        p {
                            font-size: 1.8rem;
                            color: var(--color-text);
                        }
                    }
                }    
            }
        }
    }
}

@media screen and (max-width:560px) {
    .container-fluid {
        .right {
            height: 300px!important;

            .card-content {
                width: 60%;
                margin: 5% auto 10%;
            }
        }
    }
}

@media (min-width:561px) and (max-width:700px) {
    .container-fluid {
        .right {
            height: 350px!important;

            .card-content {
                width: 60%;
                margin: 5% auto 8%;
            }
        }
    }
}

@media (min-width:701px) and (max-width:960px) {
    .container-fluid {
        .right {
            height: 450px!important;

            .card-content {
                width: 60%;
                margin: 5% auto 5%;
            }
        }
    }
}

@media (min-width:961px) {
    .container-fluid {
        .right {

            .card-content {
                margin: 10% auto 5%;
            }
        }
    }
}

@media screen and (max-width:960px) {
    main {
        margin-bottom: 5rem;

        .container-fluid {
            flex-direction: column;
            width: 100%;
            height: 100%;

            .left {
                width: 100%;
                height: 100%;

                .card-content {
                    width: 60%;
                    margin: 3% auto;
                    text-align: center;
                    a {
                        img {
                            margin: 10px auto;
                            width: 75%;
                        }
    
                        h2 {
                            font-size: 1.3rem;
                            color: var(--color-text);
                        }
                        p {
                            font-size: 1rem;
                            color: var(--color-text);
                        }
    
                        &:hover {
                            h2 {
                                font-size: 1.3rem;
                                color: var(--color-primary);
                            }
                            p {
                                font-size: 1rem;
                                color: var(--color-text);
                            }
                        }
                    } 
                }
    
            }
            .right {
                width: 100%;

                .card-content {
                    width: 60%;
                    height: 100%;
                    text-align: center;

                    a {

                        img {
                            margin: 10px auto;
                            width: 80%;
                        }
                        h2 {
                            font-size: 1.3rem;
                            color: var(--color-text);
                        }
                        p {
                            font-size: 1rem;
                            color: var(--color-text);
                        }
    
                        &:hover {
                            h2 {
                                font-size: 1.3rem;
                                color: var(--color-primary);
                            }
                            p {
                                font-size: 1rem;
                                color: var(--color-text);
                            }
                        }
                    } 
                }
            }
        }
    } 

}