:root {
    --color-primary: #496A73;
    --color-second: #F0DA5D;
    --color-third: lightgrey;
    --color-four: rgba(114, 92, 128, 0.55);
    --color-five: ;
    --color-bg: #fff;
    --color-text: #000;
}
