@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

body {
    font-family: 'Sofia', cursive;
    font-family: 'Cinzel Decorative', cursive;
}
p, span, a, i {
	font-family: 'Lateef', cursive;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
}